@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Itim', cursive;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.App{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.state-list{
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 20px;
  width: 20vw;
  height: 100vh;
  overflow-y: scroll;
  cursor: pointer;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.state-list-active-hover{
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.state-list-items{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 2px;
}

.doughnut-chart{
  margin-top: -50px;
  width: 80vw;
  align-self: center;
  height: 600px;
}

.doughnut-chart h3{
  text-align: center;
  width: 100%;
  font-size: 22px;
  color: #555;
  margin-bottom: 30px;
}